@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 

@model HCTiposModel 
@{ 
    string Prefix = "HCTiposPreguntas"; 
    string UrlOnClick = Url.Action("EditDetail", "HCTiposPreguntas"); 
    string UrlNew = Url.Action("NewDetail", "HCTiposPreguntas", new { IdFather = Model.Entity.Id }); 

    var DataGridDetailConfig = new DataGridConfiguration<HCTiposPreguntas>(Prefix) 
        //.OnClick(UrlOnClick, new { Id = "Id" }, Prefix + "MainPanelForm") 
        //.New(UrlNew,Model.Entity.IsNew,Prefix + "MainPanelForm") 
        .Exports(true,true); 
} 



@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@
@* 

<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<HCTiposPreguntas>(DataGridDetailConfig) 
            .ID("HCTiposPreguntasDetalleDataGrid") 
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCTiposPreguntas").LoadAction("Get").Key("Id")) 
            .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns => 
            { 
             columns.AddFor(m => m.HCTipos.Id); 
             columns.AddFor(m => m.HCPreguntas.Id); 
            }) 
        ) 
        </div> 
        <div id="HCTiposPreguntasMainPanelForm"></div> 
    </div> 
</div> 
*@ 


@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@

<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.HCTiposId = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
             @(Html.DControls().DataGridSimple<HCTiposPreguntas>(DataGridDetailConfig)
                 .ID("HCTiposPreguntasDetalleDataGrid")
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCTiposPreguntas").LoadAction("Get").Key("Id")
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST")
                 )
                 .DataSourceOptions(x=>x.Filter("['HCTiposId','=','" + @Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true))
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid")
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid")
                 .Columns(columns =>
                 {
                     //columns.AddFor(m => m.HCTiposId)
                     //    .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCTiposPreguntas.HCTiposId")))
                     //    .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("HCTiposPreguntas.HCTiposId")))
                     //        .Lookup(lookup => lookup
                     //        .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCTiposPreguntas").LoadAction("GetHCTiposId").Key("Id"))
                     //        .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                     //        .ValueExpr("Id").DisplayExpr("Id"));
                     columns.AddFor(m => m.HCPreguntasId)
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCTiposPreguntas.HCPreguntasId")))
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("HCTiposPreguntas.HCPreguntasId")))
                             .Lookup(lookup => lookup
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCTiposPreguntas").LoadAction("GetHCPreguntasId").Key("Id"))
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                             .ValueExpr("Id").DisplayExpr("Descripcion"));
                     columns.AddFor(m => m.Orden).SortIndex(1)
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCTiposPreguntas.Orden")));
                 })
         ) 
        </div> 
    </div> 
</div> 

