@model PacientesEntidadesModel 
@{
    string Prefix = "PacientesEntidades"; 
    string UrlDelete = Url.Action("DeleteDetail", "PacientesEntidades", new { Id = Model.Entity.Id }); 

    var toolbarDetailconfig = new ToolbarDetailConfiguration(Prefix).Delete(UrlDelete).Save().Cancel(); 
} 

<partial name="ViewJS.cshtml" model="Model" view-data="ViewData" /> 

<div>@(Html.DControls().Toolbar(toolbarDetailconfig))</div>

<div> 
     <form id="@(Prefix)Form" asp-controller="PacientesEntidades" asp-action="EditDetail" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#PacientesEntidadesMainPanelForm" data-ajax-success="@(Prefix)FormSuccessDetail" data-ajax-failure="@(Prefix)FormFailureDetail" data-ajax="true"> 
         @(Html.DControls().ValidationSummary().ValidationGroup(Prefix + "ValidationGroup").ElementAttr("class","ErrorValidationSummary")) 
         @using (Html.DevExtreme().ValidationGroup(Prefix + "ValidationGroupDetail")) 
         { 
             @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false)) 
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false)) 

                @(Html.DControls().Form<PacientesEntidadesModel>() 
                    .ID("PacientesEntidadesModelForm").LabelLocation(FormLabelLocation.Top).ShowValidationSummary(false).FormData(Model) 
                    .Items(items => 
                    { 
                         items.AddGroup().ColCount(12).Caption(DApp.DefaultLanguage.GetResource("DEFAULT.INFORMATIONGENERAL"))
                             .Items(groupItems =>{
                                groupItems.AddSimpleFor(m => m.Entity.PacientesId).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("PacientesEntidades.PacientesId"))) 
                                 .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("PacientesEntidades.PacientesId"))) 
                                     .Editor(e => e.SelectBox().ID(Prefix + "PacientesId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("PacientesEntidades").LoadAction("GetPacientesId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                                groupItems.AddSimpleFor(m => m.Entity.EntidadesId).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("PacientesEntidades.EntidadesId"))) 
                                 .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("PacientesEntidades.EntidadesId"))) 
                                     .Editor(e => e.SelectBox().ID(Prefix + "EntidadesId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("PacientesEntidades").LoadAction("GetEntidadesId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                     }); 
                 }) 
             ) 
         } 
         <div asp-validation-summary="All" class="text-danger" id="@(Prefix)ListError"></div> 
     </form> 
</div> 

