@model RecaudosDetallesModel 
@{
    string Prefix = "RecaudosDetalles"; 
    string UrlDelete = Url.Action("DeleteDetail", "RecaudosDetalles", new { Id = Model.Entity.Id }); 

    var toolbarDetailconfig = new ToolbarDetailConfiguration(Prefix).Delete(UrlDelete).Save().Cancel(); 
} 

<partial name="ViewJS.cshtml" model="Model" view-data="ViewData" /> 

<div>@(Html.DControls().Toolbar(toolbarDetailconfig))</div>

<div> 
     <form id="@(Prefix)Form" asp-controller="RecaudosDetalles" asp-action="EditDetail" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#RecaudosDetallesMainPanelForm" data-ajax-success="@(Prefix)FormSuccessDetail" data-ajax-failure="@(Prefix)FormFailureDetail" data-ajax="true"> 
         @(Html.DControls().ValidationSummary().ValidationGroup(Prefix + "ValidationGroup").ElementAttr("class","ErrorValidationSummary")) 
         @using (Html.DevExtreme().ValidationGroup(Prefix + "ValidationGroupDetail")) 
         { 
             @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false)) 
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false)) 

                @(Html.DControls().Form<RecaudosDetallesModel>()
                    .ID("RecaudosDetallesModelForm").LabelLocation(FormLabelLocation.Top).ShowValidationSummary(false).FormData(Model)
                    .Items(items =>
                    {
                        items.AddGroup().ColCount(12).Caption(DApp.DefaultLanguage.GetResource("DEFAULT.INFORMATIONGENERAL"))
                            .Items(groupItems =>{
                                //groupItems.AddSimpleFor(m => m.Entity.RecaudosId).ColSpan(1) 
                                // .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("RecaudosDetalles.RecaudosId"))) 
                                // .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("RecaudosDetalles.RecaudosId"))) 
                                //     .Editor(e => e.SelectBox().ID(Prefix + "RecaudosId") 
                                //     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("RecaudosDetalles").LoadAction("GetRecaudosId").Key("Id")) 
                                //     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                //     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                //     .SearchEnabled(true).ShowClearButton(true) 
                                //); 
                                groupItems.AddSimpleFor(m => m.Entity.FacturasId).ColSpan(1)
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("RecaudosDetalles.FacturasId")))
                                 .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("RecaudosDetalles.FacturasId")))
                                     .Editor(e => e.SelectBox().ID(Prefix + "FacturasId")
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("RecaudosDetalles").LoadAction("GetFacturasId").Key("Id"))
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                                     .ValueExpr("Id").DisplayExpr(new JS(Prefix + "DisplayExprFacturaId"))
                                     .SearchEnabled(true).ShowClearButton(true)
                                );
                                groupItems.AddSimpleFor(m => m.Entity.ValorAplicado).ColSpan(1)
                                  .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("RecaudosDetalles.ValorAplicado")))
                                      .Editor(e=>e.NumberBox().ID(Prefix + "ValorAplicado").Format("#,##0.##").ShowClearButton(true).ShowSpinButtons(true));
                                groupItems.AddSimpleFor(m => m.Entity.ValorRetencion).ColSpan(1)
                                  .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("RecaudosDetalles.ValorRetencion")))
                                      .Editor(e=>e.NumberBox().ID(Prefix + "ValorRetencion").Format("#,##0.##").ShowClearButton(true).ShowSpinButtons(true));
                                groupItems.AddSimpleFor(m => m.Entity.ValorReteIca).ColSpan(1)
                                  .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("RecaudosDetalles.ValorReteIca")))
                                      .Editor(e => e.NumberBox().ID(Prefix + "ValorReteIca").Format("#,##0.##").ShowClearButton(true).ShowSpinButtons(true));
                            });
                    })
             ) 
         } 
         <div asp-validation-summary="All" class="text-danger" id="@(Prefix)ListError"></div> 
     </form> 
</div> 

