@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 
 
@model HCPreguntasModel 
@{ 
    string Prefix = "HCRespuestas"; 
    string UrlOnClick = Url.Action("EditDetail", "HCRespuestas"); 
    string UrlNew = Url.Action("NewDetail", "HCRespuestas", new { IdFather = Model.Entity.Id }); 

    var DataGridDetailConfig = new DataGridConfiguration<HCRespuestas>(Prefix) 
        .OnClick(UrlOnClick, new { Id = "Id" }, Prefix + "MainPanelForm") 
        //.New(UrlNew,Model.Entity.IsNew,Prefix + "MainPanelForm") 
        .Exports(true,true); 
} 
 


@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@
@* 

<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<HCRespuestas>(DataGridDetailConfig) 
            .ID("HCRespuestasDetalleDataGrid") 
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCRespuestas").LoadAction("Get").Key("Id")) 
            .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns => 
            { 
             columns.AddFor(m => m.TipoControlId); 
             columns.AddFor(m => m.Texto); 
             columns.AddFor(m => m.HCPreguntas.Id); 
            }) 
        ) 
        </div> 
        <div id="HCRespuestasMainPanelForm"></div> 
    </div> 
</div> 
*@ 


@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@
 
<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.HCPreguntaId = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding">
            @(Html.DControls().DataGridSimple<HCRespuestas>(DataGridDetailConfig)
                 .ID("HCRespuestasDetalleDataGrid")
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCRespuestas").LoadAction("Get").Key("Id")
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST")
                 )
                 .DataSourceOptions(x=>x.Filter("['HCPreguntaId','=','" + @Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true))
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid")
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid")
                 .Columns(columns =>
                 {
                     columns.AddFor(m => m.Texto)
                    .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCRespuestas.Texto")))
                    .ValidationRules(rules => rules.AddStringLength().Min(0).Max(255).Message(DApp.GetStringLengthResource("HCRespuestas.Texto", 255)));

                     columns.AddFor(m => m.TipoControlId)
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCRespuestas.TipoControlId")))
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("HCRespuestas.TipoControlId")))
                             .Lookup(lookup => lookup
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("HCRespuestas").LoadAction("GetTipoControles").Key("Id"))
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                             .ValueExpr("Id").DisplayExpr("Value"));

                     //columns.AddFor(m => m.ValoresLista).ValidationRules(rules => rules.AddStringLength().Min(0).Max(255).Message(DApp.GetStringLengthResource("HCRespuestas.ValoresLista", 1024)));

                     columns.AddFor(m => m.TextoFinal).ValidationRules(rules => rules.AddStringLength().Min(0).Max(255).Message(DApp.GetStringLengthResource("HCRespuestas.TextoFinal", 255)));

                     columns.AddFor(m => m.Orden).SortIndex(1)
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("HCRespuestas.Orden")));
                 })
         )
        </div>
    </div>
</div>

