@model ProfileNavigationModel 
@{
    string Prefix = "ProfileNavigation"; 
    string UrlDelete = Url.Action("DeleteDetail", "ProfileNavigation", new { Id = Model.Entity.Id }); 

    var toolbarDetailconfig = new ToolbarDetailConfiguration(Prefix); 
}

<div class="box box-info"> 
    <div id = "ProfileNavigationMainPanelForm"> 
        <form id = "@(Prefix)Form" asp-controller="ProfileNavigation" asp-action="EditDetail" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#ProfileNavigationMainPanelForm" data-ajax-success="@(Prefix)FormSuccess" data-ajax-failure="@(Prefix)FormFailure" data-ajax="true"> 
            @using (Html.DevExtreme().ValidationGroup()) 
            { 
                @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false)) 
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.UpdatedBy).ID(Prefix + "UpdatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.LastUpdate).ID(Prefix + "LastUpdate").Type(DateBoxType.DateTime).Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.CreatedBy).ID(Prefix + "CreatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.CreationDate).ID(Prefix + "CreationDate").Type(DateBoxType.DateTime).Visible(false)) 

                @(Html.DControls().Form<ProfileNavigationModel>() 
                    .ID("ProfileNavigationModelForm").ColCount(1).ShowValidationSummary(true).FormData(Model) 
                    .Items(items => 
                    { 
                        items.AddSimpleFor(m => m.Entity.ProfileId) 
                            .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ProfileNavigation.ProfileId"))) 
                            .Editor(e => e.SelectBox() 
                            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ProfileNavigation").LoadAction("GetProfileId").Key("Id")) 
                            .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                            .DisplayExpr("Description").ValueExpr("Id") 
                            .SearchEnabled(true).ShowClearButton(true)); 
                        items.AddSimpleFor(m => m.Entity.Path) 
                            .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ProfileNavigation.Path"))) 
                            .ValidationRules(rules => rules.AddStringLength().Min(1).Max(255).Message(DApp.GetStringLengthResource("ProfileNavigation.Path", 255))); 
                        items.AddSimpleFor(m => m.Entity.MenuId) 
                            .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ProfileNavigation.MasterId"))) 
                            .Editor(e => e.SelectBox() 
                            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ProfileNavigation").LoadAction("GetMasterId").Key("Id")) 
                            .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                            .DisplayExpr("Name").ValueExpr("Id") 
                            .SearchEnabled(true).ShowClearButton(true)); 
                        items.AddSimpleFor(m => m.Entity.MenuActionId) 
                            .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ProfileNavigation.MethodId"))) 
                            .Editor(e => e.SelectBox() 
                            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ProfileNavigation").LoadAction("GetMethodId").Key("Id")) 
                            .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                            .DisplayExpr("Id").ValueExpr("Id") 
                            .SearchEnabled(true).ShowClearButton(true)); 

                    }) 
                ) 
            } 
            <div asp-validation-summary="All" class="text-danger" id="@(Prefix)ListError"></div> 
        </form> 
    </div> 
</div> 

<script lang = "javascript"> 

    function @(Prefix)FormSuccess(data) 
    { 
        hideLoadIndicator(); 
        if ('@ViewData.ModelState.IsValid' == 'True') 
        { 
            $("#ProfileNavigationDetalleDataGrid").dxDataGrid("instance").refresh();
            if ("@ViewBag.Accion" == "Delete") {
                DevExpress.ui.notify("Registro eliminado correctamente.","info"); 
            } else if ("@ViewBag.Accion" == "Save") {
                DevExpress.ui.notify("Registro guardado correctamente.","info"); 
            } else {
                DevExpress.ui.notify("Error no accion en submit.","info"); 
            }
        } 
    } 

    function @(Prefix)FormFailure(data) 
    { 
        hideLoadIndicator(); 
        DevExpress.ui.notify("Error en el formulario","error"); 
    } 

</script>
