@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 
 
@model EmpleadosModel 
@{ 
    string Prefix = "EmpleadoProfesiones";
    string UrlOnClick = Url.Action("EditDetail", "EmpleadoProfesiones");
    string UrlNew = Url.Action("NewDetail", "EmpleadoProfesiones", new { IdFather = Model.Entity.Id });

    var DataGridDetailConfig = new DataGridConfiguration<EmpleadoProfesiones>(Prefix)
        //.OnClick(UrlOnClick, new { Id = "Id" }, Prefix + "MainPanelForm") 
        //.New(UrlNew,Model.Entity.IsNew,Prefix + "MainPanelForm") 
        .Exports(true,true);
} 
 


@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@
 

@*<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<EmpleadoProfesiones>(DataGridDetailConfig)
            .ID("EmpleadoProfesionesDetalleDataGrid")
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("EmpleadoProfesiones").LoadAction("Get").Key("Id"))
            .DataSourceOptions(x=>x.Filter("['EmpleadosId','=','" + Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns =>
            {
                columns.AddFor(m => m.Empleados.Id);
                columns.AddFor(m => m.Profesiones.Id);
            })
        ) 
        </div> 
        <div id="EmpleadoProfesionesMainPanelForm"></div> 
    </div> 
</div>*@ 
 


@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@
 
<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.EmpleadosId = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
             @(Html.DControls().DataGridSimple<EmpleadoProfesiones>(DataGridDetailConfig)
                 .ID("EmpleadoProfesionesDetalleDataGrid")
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("EmpleadoProfesiones").LoadAction("Get").Key("Id")
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST")
                 )
                 .DataSourceOptions(x=>x.Filter("['EmpleadosId','=','" + @Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true))
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid")
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid")
                 .Columns(columns =>
                 {
                     columns.AddFor(m => m.ProfesionesId)
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("EmpleadoProfesiones.ProfesionesId")))
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("EmpleadoProfesiones.ProfesionesId")))
                             .Lookup(lookup => lookup
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("EmpleadoProfesiones").LoadAction("GetProfesionesId").Key("Id"))
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                             .ValueExpr("Id").DisplayExpr("Nombre"));
                 })
         ) 
        </div> 
    </div> 
</div> 
 
