@model ListaPreciosModel 
@{
    string Prefix = "ListaPrecios"; 
    string UrlDelete = Url.Action("DeleteDetail", "ListaPrecios", new { Id = Model.Entity.Id }); 

    var toolbarDetailconfig = new ToolbarDetailConfiguration(Prefix).Delete(UrlDelete).Save().Cancel(); 
} 

<partial name="ViewJS.cshtml" model="Model" view-data="ViewData" /> 

<div>@(Html.DControls().Toolbar(toolbarDetailconfig))</div>

<div> 
     <form id="@(Prefix)Form" asp-controller="ListaPrecios" asp-action="EditDetail" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#ListaPreciosMainPanelForm" data-ajax-success="@(Prefix)FormSuccessDetail" data-ajax-failure="@(Prefix)FormFailureDetail" data-ajax="true"> 
         @using (Html.DevExtreme().ValidationGroup(Prefix + "ValidationGroupDetail")) 
         { 
             @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false)) 
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.UpdatedBy).ID(Prefix + "UpdatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.LastUpdate).ID(Prefix + "LastUpdate").Type(DateBoxType.DateTime).Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.CreatedBy).ID(Prefix + "CreatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.CreationDate).ID(Prefix + "CreationDate").Type(DateBoxType.DateTime).Visible(false)) 

                @(Html.DControls().Form<ListaPreciosModel>() 
                    .ID("ListaPreciosModelForm").LabelLocation(FormLabelLocation.Top).ShowValidationSummary(true).FormData(Model) 
                    .Items(items => 
                    { 
                         items.AddGroup().ColCount(12).Caption(DApp.DefaultLanguage.GetResource("DEFAULT.INFORMATIONGENERAL"))
                             .Items(groupItems =>{
                                groupItems.AddSimpleFor(m => m.Entity.Nombre).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ListaPrecios.Nombre"))) 
                                 .ValidationRules(rules => rules.AddStringLength().Min(0).Max(255).Message(DApp.GetStringLengthResource("ListaPrecios.Nombre", 255))) 
                                     .Editor(e => e.TextBox().ID(Prefix + "Nombre").ShowClearButton(true)); 
                                groupItems.AddSimpleFor(m => m.Entity.EmpresasId).ColSpan(1) 
                                     .Editor(e => e.SelectBox().ID(Prefix + "EmpresasId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ListaPrecios").LoadAction("GetEmpresasId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                                groupItems.AddSimpleFor(m => m.Entity.Porcentaje).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ListaPrecios.Porcentaje"))) 
                                     .Editor(e=>e.NumberBox().ID(Prefix + "Porcentaje").Format("#,##0.##").ShowClearButton(true).ShowSpinButtons(true)); 
                                groupItems.AddSimpleFor(m => m.Entity.Valor).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ListaPrecios.Valor"))) 
                                     .Editor(e=>e.NumberBox().ID(Prefix + "Valor").Format("#,##0.##").ShowClearButton(true).ShowSpinButtons(true)); 
                                groupItems.AddSimpleFor(m => m.Entity.RelacionaListaPreciosId).ColSpan(1) 
                                     .Editor(e => e.SelectBox().ID(Prefix + "RelacionaListaPreciosId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ListaPrecios").LoadAction("GetRelacionaListaPreciosId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                                groupItems.AddSimpleFor(m => m.Entity.Tarifa).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddStringLength().Min(0).Max(100).Message(DApp.GetStringLengthResource("ListaPrecios.Tarifa", 100))) 
                                     .Editor(e => e.TextBox().ID(Prefix + "Tarifa").ShowClearButton(true)); 
                                groupItems.AddSimpleFor(m => m.Entity.TipoEstadosId).ColSpan(1) 
                                 .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ListaPrecios.TipoEstadosId"))) 
                                 .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("ListaPrecios.TipoEstadosId"))) 
                                     .Editor(e => e.SelectBox().ID(Prefix + "TipoEstadosId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ListaPrecios").LoadAction("GetTipoEstadosId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id").SearchExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                     }); 
                 }) 
             ) 
         } 
         <div asp-validation-summary="All" class="text-danger" id="@(Prefix)ListError"></div> 
     </form> 
</div> 

