@model ServiciosSedesModel 
@{
    string Prefix = "ServiciosSedes"; 

    string UrlSave = Url.Action("Edit", "ServiciosSedes"); 
    string UrlNew = Url.Action("New", "ServiciosSedes"); 
    string UrlDelete = Url.Action("Delete", "ServiciosSedes", new { Id = Model.Entity.Id }); 
    string UrlBack = Url.Action("ListPartial", "ServiciosSedes"); 

    var ToolbarConfig = new ToolbarConfiguration(Prefix) 
        .Title(DApp.DefaultLanguage.GetResource("ServiciosSedes")) 
        .Save(DApp.ActionViewSecurity(Context, UrlSave),Model.Entity.IsNew) 
        .New(UrlNew, DApp.ActionViewSecurity(Context, UrlNew)) 
        .Delete(UrlDelete,DApp.ActionViewSecurity(Context,UrlDelete),UrlBack,Model.Entity.IsNew) 
        .Back(UrlBack); 
}

<partial name="ViewJS.cshtml" model="Model" view-data="ViewData" /> 

@(Html.DControls().Toolbar(ToolbarConfig)) 

<div> 
    <div id = "ServiciosSedesMainPanelForm"> 
        <form id = "@(Prefix)Form" asp-controller="ServiciosSedes" asp-action="Edit" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#mainPanel" data-ajax-success="@(Prefix)FormSuccess" data-ajax-failure="@(Prefix)FormFailure" data-ajax="true"> 
            @using (Html.DevExtreme().ValidationGroup(Prefix + "ValidationGroup")) 
            { 
                @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false)) 
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.UpdatedBy).ID(Prefix + "UpdatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.LastUpdate).ID(Prefix + "LastUpdate").Type(DateBoxType.DateTime).Visible(false)) 
                @(Html.DControls().TextBoxFor(m => m.Entity.CreatedBy).ID(Prefix + "CreatedBy").Visible(false)) 
                @(Html.DControls().DateBoxFor(m => m.Entity.CreationDate).ID(Prefix + "CreationDate").Type(DateBoxType.DateTime).Visible(false)) 

                @(Html.DControls().Form<ServiciosSedesModel>() 
                    .ID("ServiciosSedesModelForm").LabelLocation(FormLabelLocation.Top).ShowValidationSummary(true).FormData(Model) 
                    .Items(items => 
                    { 
                         items.AddGroup().ColCount(2).Caption(DApp.DefaultLanguage.GetResource("DEFAULT.INFORMATIONGENERAL"))
                             .Items(groupItems =>{
                                groupItems.AddSimpleFor(m => m.Entity.ServiciosId) 
                                .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ServiciosSedes.ServiciosId"))) 
                                .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("ServiciosSedes.ServiciosId"))) 
                                     .Editor(e => e.SelectBox().ID("ServiciosId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ServiciosSedes").LoadAction("GetServiciosId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("DescripcionCompleta") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                                groupItems.AddSimpleFor(m => m.Entity.SedesId) 
                                .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("ServiciosSedes.SedesId"))) 
                                .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("ServiciosSedes.SedesId"))) 
                                     .Editor(e => e.SelectBox().ID("SedesId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ServiciosSedes").LoadAction("GetSedesId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                                groupItems.AddSimpleFor(m => m.Entity.EstadosId) 
                                     .Editor(e => e.SelectBox().ID("EstadosId") 
                                     .DataSource(d => d.Mvc().LoadMethod("POST").Controller("ServiciosSedes").LoadAction("GetEstadosId").Key("Id")) 
                                     .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                                     .ValueExpr("Id").DisplayExpr("Id") 
                                     .SearchEnabled(true).ShowClearButton(true) 
                                ); 
                         }); 
                    }) 
                ) 
            } 
            <div asp-validation-summary="All" class="text-danger" id="@(Prefix)ListError"></div> 
        </form> 

        @* Si el maestro maneja detalle descomentar el siguiente codigo y remplazar la palabra "MAESTRODETALLE" *@
        @* 
        <div> 
           <ul class="nav nav-tabs" role="tablist"> 
               <li role="presentation" class="active"> 
                   <a href="#MAESTRODETALLE" aria-controls="MAESTRODETALLE" role="tab" data-toggle="tab"> 
                       @DApp.DefaultLanguage.GetResource("MAESTRODETALLE") 
                   </a> 
               </li> 
           </ul> 
           <div class="tab-content"> 
               <div role="tabpanel" class="tab-pane active" id="MAESTRODETALLE">
                   <partial name="../MAESTRODETALLE/ListDetail.cshtml" model=Model view-data="ViewData" />
               </div>
           </div>
        </div>
        *@

    </div> 
</div> 

